{% extends 'base.html' %}
{% block content %}
  <h2>🛒 All Products</h2>

  <div class="product-grid">
    {% if products %}
      {% for product in products %}
        <a href="{% url 'store:product_detail' product.id %}" class="product-card">
          {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
          {% else %}
            <img src="{% static 'images/placeholder-product.jpg' %}" alt="No Image Available">
          {% endif %}
          <h4>{{ product.name }}</h4>
          <p>₦{{ product.price|intcomma }}</p>
        </a>
      {% endfor %}
    {% else %}
      <p>No products available.</p>
    {% endif %}
  </div>
{% endblock %}